:root {
    --light-color: rgb(238, 247, 160);
    --dark-color: rgb(26, 26, 26);
}

body {
    background-color: var(--light-color);
    width: 100vw;
    height:100vh;
    justify-content: center;
}

.current {
    width: 100vw;
    margin-left: 50%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1, 1, 1, 1;
    font-size: large;
    font-weight: 300;
}

.alerts {
    color: red;
    width: 25vw;
    height: 100vh;
    display: flexbox;
    margin-top: 0px;
    position: absolute;
    border: 2px solid black;
    text-overflow: clip;
}

.extended-forcast {
    margin-left: 45%;
    position: relative;
    margin-top: 20px;
}


